.v-admin {
  /deep/.el-dialog__body {
    padding: 15px 20px 20px 20px !important;

    .v-dialog-body {
      padding: 0 10px 10px 10px;
    }

    .v-dialog_footer {
      text-align: right;
    }
  }
}