.v-admin {
  .el-table {
    &.el-table--border {
      border-color: #DFE9FC;
    }

    thead {
      tr th {
        padding: 0 !important;
        border-bottom: none !important;
        background: #EBF1FC !important;
        border-right-color: rgba(195, 213, 255, 0.5);

        .cell {
          height: 34px;
          line-height: 34px;
        }
      }
    }

    td {
      padding: 0 !important;
      border: none !important;

      .cell {
        height: 34px;
        line-height: 34px;
        color: #666 !important;
      }
    }

    th {
      padding: 8px 0 !important;

      .cell {
        color: #333 !important;
      }
    }
  }
}