.asp-sz {
  .el-table {
    td {
      padding: 6px 0 !important;
      .cell {
        color: #666 !important;
      }
    }
    th {
      padding: 8px 0 !important;
      .cell {
        color: #333 !important;
      }
    }
  }
}
